body {
    background: #000000;
}

.section {

    p.emoji {
        font-size: 56px;
    }

    &-one {
        background: rgb(102,45,140);
        background: -moz-linear-gradient(135deg, rgba(102,45,140,1) 0%, rgba(237,30,121,1) 100%);
        background: -webkit-linear-gradient(135deg, rgba(102,45,140,1) 0%, rgba(237,30,121,1) 100%);
        background: linear-gradient(135deg, rgba(102,45,140,1) 0%, rgba(237,30,121,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#662d8c",endColorstr="#ed1e79",GradientType=1); 
    }

    &-two {
        background: rgb(49,42,108);
        background: -moz-linear-gradient(135deg, rgba(49,42,108,1) 0%, rgba(133,45,145,1) 100%);
        background: -webkit-linear-gradient(135deg, rgba(49,42,108,1) 0%, rgba(133,45,145,1) 100%);
        background: linear-gradient(135deg, rgba(49,42,108,1) 0%, rgba(133,45,145,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#312a6c",endColorstr="#852d91",GradientType=1);
        
    }

    &-three {
        background: rgb(79,0,188);
        background: -moz-linear-gradient(135deg, rgba(79,0,188,1) 0%, rgba(41,171,226,1) 100%);
        background: -webkit-linear-gradient(135deg, rgba(79,0,188,1) 0%, rgba(41,171,226,1) 100%);
        background: linear-gradient(135deg, rgba(79,0,188,1) 0%, rgba(41,171,226,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f00bc",endColorstr="#29abe2",GradientType=1); 
    }
}

.underline {
    display: inline-block;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    background: -webkit-gradient(linear,left top,right top,from($brand-primary),to($brand-primary));
    background: linear-gradient(to right,$brand-primary 0%,$brand-primary 100%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;

    &.orange {
        color: $brand-primary;
    }

    &:hover {
        background-size: 100% 2px;
        color: $white;
    }
}

.section h4 {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

.section-one > .fp-tableCell p {
	transform: translateX(-200px);
	opacity: 0;
	transition: all .5s ease;
}

.section-one.active > .fp-tableCell p {
	transform: translateX(0);
	opacity: 1;
}

.section-one > .fp-tableCell h1 {
	transform: translateX(-200px);
	opacity: 0;
	transition: all .5s ease;
}

.section-one.active > .fp-tableCell h1 {
	transform: translateX(0);
	opacity: 1;
}

.section-two > .fp-tableCell h4 {
	transform: translateX(-200px);
	opacity: 0;
	transition: all .5s ease;
}

.section-two.active > .fp-tableCell h4 {
	transform: translateX(0);
	opacity: 1;
}

.section-two > .fp-tableCell p {
	transform: translateX(-200px);
	opacity: 0;
	transition: all .5s ease;
}

.section-two.active > .fp-tableCell p {
	transform: translateX(0);
	opacity: 1;
}