body {
    background: #000000;
}

.navbar-brand {
    padding: 15px;
}

.section {

    p.emoji {
        font-size: 56px;
        line-height: 1;
    }

    .fas {
        font-size: 36px;
        color: $brand-primary;
    }

    &-two, &-four {
        color: $black;
    }

}

.active > a > .underline {
    color: $brand-primary;
}

.underline {
    color: $white;
    display: inline-block;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    background: -webkit-gradient(linear, left top, right top, from($brand-primary), to($brand-primary));
    background: linear-gradient(to right, $brand-primary 0%, $brand-primary 100%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    border-bottom: 1px dashed rgba($brand-primary, .5);
    border-bottom-style: dotted;

    &.black {
        color: $black;

        &:hover {
            background-size: 100% 2px;
            color: $black;
        }
    }

    &:hover {
        background-size: 100% 2px;
        color: $white;
        border-bottom: none;
    }
}

.orange {
    color: $brand-primary;
}

.section h4 {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

.section p, .section h1, .section h2, .section h4 {
    transform: translateX(-200px);
    opacity: 0;
    transition: all .5s ease;
}

.section.active p, .section.active h1, .section.active h2, .section.active h4 {
    transform: translateX(0);
    opacity: 1;
}

.links> a:not(:last-child) {
    margin-right: 50px;
}

@media (max-width: $screen-sm) {
    .navbar-collapse {
        background: $black;

        &.whitebg {
            background: $white;
        }
    }

    .navbar-default .navbar-toggle .icon-bar.blackbg {
        background-color: $black;
    }

    .mb50 {
        margin-bottom: 50px;
    }

    .links> a {
        display: block;
        margin: 20px 0;

        &:not(:last-child) {
            margin-right: 0;
        }
    }
}